@model ShoppingCartBALObject.LoginObject

@{
    ViewData["Title"] = "Login";
}
<br /><br /><br /><br />
<h1>Login</h1>


<hr />
@using (Html.BeginForm("Login", "Account"))
{
    @Html.LabelFor(x=>x.email)<br>
    @Html.EditorFor(x=>x.email)<br /><br />

    @Html.LabelFor(x=>x.password)<br>
    @Html.EditorFor(x=>x.password)<br /><br />

    <input type="submit" value="Login">
}


<div>
    @Html.ActionLink("Back To Sign-Up","SignUp","Account")
</div>


