@model ShoppingCartBALObject.LoginObject

@{
    ViewData["Title"] = "Login";
}
<br /><br /><br /><br />
<h1>Sign-Up</h1>
<hr />
@using (Html.BeginForm("SignUp", "Account"))
{
    @Html.LabelFor(x=>x.email)<br>
    @Html.EditorFor(x=>x.email)<br /><br />

    @Html.LabelFor(x=>x.password)<br>
    @Html.EditorFor(x=>x.password)<br /><br />

    <input type="submit" value="Sign-Up">
}


<div>
    @Html.ActionLink("Back To Login","Login","Account")
</div>


