<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShoppingCart</title>
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header class="header">
        <img src="~/logo4.jpg" class="logo_img" />
        <div class="main">
            <div class="child-div">
                @Html.ActionLink("Home","Index","Home",null,new{@class= "nav", @id="home-link"})
            </div>
            <div class="child-div">
                @Html.ActionLink("Contact","Contact","Home",null,new{@class= "nav"})
            </div>
            <div class="child-div">
                @Html.ActionLink("About-us","AboutUs","Home",null,new{@class= "nav"})
            </div>

             @Html.TextBox("search","","",new{id="search-box"})
             @Html.ActionLink("Search", "ProductList", "Shopping", new{ ProductType = ViewBag.ProductType }, new { onclick = "this.href += '&searchFor=' + document.getElementById('search-box').value;" })
             
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

</body>
</html>
