@using ShoppingCartBALObject;
@model ProductObject

<head>
    <link rel="stylesheet" href="~/css/list.css" />
</head>
<body>
    <br /><br /><br />
    <h1 style="margin-left:20px;">@(ViewBag.ProductType)s</h1>
    <img src="~/@(ViewBag.ProductType)Img/@(Model).jpg" class="product-img" /><br />
    Brand - @Html.DisplayFor(x=>x.Brand)<br /><br />
    Model - @Html.DisplayFor(x=>x.Model)<br /><br />
    Color - @Html.DisplayFor(x=>x.Color)<br /><br />
    RAM - @Html.DisplayFor(x=>x.RAM)<br /><br />
    Storage - @Html.DisplayFor(x=>x.Storage)<br /><br />
    Price - @Html.DisplayFor(x=>x.Price)<br /><br />
    Description - @Html.DisplayFor(x=>x.Description)
</body>
